.piano {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.white-key {
    width: 40px;
    height: 120px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.black-key {
    width: 30px;
    height: 80px;
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    margin-left: -15px;
    z-index: 1;
}
